@media only screen and (max-width: 1150px) {
  .container {
  }
  .Desc-container h1 {
    font-size: 500%;
  }
  .Desc-container p {
    font-size: 200%;
    line-height: inherit;
  }
  .Description {
    width: 46vw;
  }
  .Desc-container button {
    width: 44vw;
  }
}
@media only screen and (max-width: 999px) {
  .Desc-container p {
    font-size: 155%;
    line-height: inherit;
  }
  .Pic-container img {
    width: 40vw;
  }
}
@media only screen and (max-width: 800px) {
  .Desc-container h1 {
    font-size: 400%;
  }
  .Desc-container p {
    font-size: 100%;
    line-height: inherit;
  }
  .Desc-container button {
    width: 30vw;
    font-size: 20px;
  }
}
@media only screen and (max-width: 632px) {
  .container {
    display: grid;
    grid-template-areas:
      "A"
      "B"
      "C";
  }
  .Description {
    grid-area: A;
    padding: 12px;
    margin: 0;
    margin-top: 20px;
  }
  .Picture {
    grid-area: B;
    margin: auto;
  }
  .Pic-container img {
    width: 310px;
    height: 316px;
  }
  .Arrow-down {
    grid-area: C;
  }
  .Desc-container h1 {
    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: normal;
    color: white;
    width: 90vw;
  }
  .Desc-container button {
    display: none;
  }
  .Desc-container p {
    width: 90vw;
    font-size: 20px;
  }
  .Arrow-down img {
    position: relative;
  }
}
