.Card {
  border: none;
  background-color: #035f87;
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1px auto;
  cursor: pointer;
  transition: 0.2s linear;
}
.Card:hover {
  box-shadow: 5px 5px 5px 5px #15a7e6;
}
.Card-title {
  color: white;
  font-family: Saira Condensed;
  text-align: center;
}
.Card-body {
  display: block;
  margin: auto;
  width: 70%;
}
.Card-body p {
  font-family: sans-serif;
  color: white;
}
